@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('menu.css');
body{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
}
/**Alineacion de texto**/
.center{
    text-align:center;
}
/*SECCION QUIENES SOMOS*/
.quienessomos{
    background-color: var(--main-color);
    color: var(--white-color);
    padding-left: 30px;
    grid-template-columns: auto auto;
    display: grid;
    padding-bottom: 60px;
}

.text-white{
    color: var(--white-color);
}

.Anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 450;
    font-style: normal;
  }

  .chango-regular {
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.quienessomos img{
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius:10px ;
    margin: 10px;
    padding-right: 20%;
}
.img{
    width: 600px;
    height: 600px; 
}
.quienessomos .text{
    padding-left: 80px;
    padding-top: 10%;
    padding-right: 20%;
}
h2 {
    font-size: 64px;
    font-weight:900;
    color: rgba(70, 70, 231, 0.671);
}
    
p{
    font-size: 16px;
    color: rgba(59, 100, 235, 0.527);
    line-height: 1.5em;
}
.btn{
    background-color: var(--second-color);
    color: var(--white-color);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 24px;
    margin: 10px;
    border: none;
    width: 300px;
}
.btn:hover{
    background-color: var(--trird-color);
    color: var(--white-color);
    transition: 0.5s;
}
.btn a {
    color: var(--white-color);
}


footer{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
}
.footer-column{
    width: 30%;
}
.footer-logo {
    max-width: 250px;
    padding-top: 10%;
    border-radius: 10px;

}

.footer-column h3 {
    margin-bottom: 10px;
    color: var(--black-color);
}

.footer-column ul{
    list-style: none;
    padding: 0;
}

.footer-column li{
    margin-bottom: 5px;
}

.footer-column a {
    text-decoration: none;
    color: black;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-column p{
    color: black;
}
.social-icons li{
    display: inline-block;
}
.social-icons a {
    width: 20px;
    margin-right: 10px;
    font-size: 16px;
    color: var(--white-color);/*COLOR DE LOS ICONOS*/
    background-color: var(--main-color); /*FONDO DE LOS ICONOS*/
    padding: 8px; /*ESPACIO INTERIOR*/
    border-radius: 100%;
}

.copyright {
    text-align: center;
    background-color: #c5e2e2ae;
    height: 80px;
    width: 100%;
}

/*Estilos para el boton "!Reserva Ya!"*/
.servicios{
    background-color:rgba(190, 227, 220, 0.882);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    padding: 10%

}
.servicios h3{
    color: rgb(34, 93, 94);
    font-size: 24px;
    text-align: center;

}
.servicios {
    color: var();
}

.servicios p{
    color: black;
}
.servicios .items{
    background-color: rgb(40, 8, 155);
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);;
}

.image{
    width: 85%;
    height: 500px;
    display:block;
    object-fit: cover;
    border-radius: 50px;
    border: 5px solid ;
    margin: 10px;
}

.contacto{
background-color: var(--main-color);
    color: var(--white-color);
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 80px 20px 5% 50px;

}


input[type=text], [type=email]{
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 90%;

}

.contacto label{
    font-size: 20px;
    display: block;
    padding-top:15px ;

}
textarea{
    padding: 10px;
    border-radius:10px ;
    border: none;
    display: block;
    width: 90%;


}

.contacto button{
    background-color: var(--second-color);
    color: var(--white-color);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 30px;
    width: 90%;

}
.contacto button:hover{
    background-color: var(--second-color);
    color: var(--white-color);
    transition: 0.5s;

}
.ofer{
    font-family:fantasy;
}
