:root{
    --main-color:#96bdc0da;
    --second-color:#5e8e90dd;
    --third-color:#21E6C1;
    --white-color:#ffff;
    --black-color:#0e0d0d;
    --grey-color: #d3cfcf;
    --white-color
    --btn: rgb(89, 89, 221);

}
.container{ /* cajita donde estamos metiendo nuestro menu*/
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    background-color: var(--second-color);

}
/* inicia la estructura de mi menu*/
.nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 5px; /*distancia entre el texto y la caja que lo contiene*/
    height: 90px; /*altura de mi menu*/

}
/*estructura de cada una de la opciones de mi menu*/
.nav_links_list{
    list-style-type: none;
    display: flex; 
    gap: 0px 20px;
    font-family: poppins;
    font-size: 18px;
    padding-right: 20px;
    color: white;
}
/*cada uno de los enlaces de mi menu*/
.nav_links a{
    text-decoration:none;
    color: rgba(58, 59, 60, 0.78);
    border-radius: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav_links a:hover{
    color: var(--third-colr);
}
/* esta clase le da estructura ami logo*/
.nav_logos{
    width: 95px;
    margin-right: 10px;
    border-radius: 40px;
    

}